div.sheet-sheet-wrap {
    margin: 0px -10px 0px -10px;
    width: 870px;
    color: #555555;
}

div.sheet-show_type {
    display: flex; 
    justify-content: flex-end;
    width: 870px;
}

.sheet-center {
    text-align: center;
}

input.sheet-show_type {
    margin: 3px 5px 0px 5px;
}

div.sheet-player {
    display: grid;
    grid-template-columns: 288px 4px 288px 4px 288px;
    grid-template-rows: 129px auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 870px;
}

div.sheet-header_right {
    grid-area: 1 / 5 / 2 / 6;
    background: url("https://raw.githubusercontent.com/BaldarSilveraxe/-Old-School-Essentials/master/svg/ose_logo.svg");
    background-position: center center;
    background-size: contain;
}

input[type="checkbox"].sheet-edit_mode_check {
    opacity: 0;
    position: relative;
    cursor: pointer;
    z-index: 1;
    zoom:1.5;
}

input[type="checkbox"].sheet-edit_mode_check + span::before,
input[type="checkbox"].sheet-edit_mode_check:checked + span::before {
    display: inline-block;
    position: relative;
    left: -15px;
    font-family: Pictos;
    font-size: 16px;
    content: "*";
    width: 20px;
    height: 20px;
    pointer-events: none;
    z-index: -1;
}

input[type="checkbox"].sheet-edit_mode_check:checked + span::before {
    content: "p";
}

input.sheet-show_type[value="0"] ~ .sheet-player,
input.sheet-show_type[value="1"] ~ .sheet-nonplr {
    display: none;
}

div.sheet-column_a {
    grid-area: 1 / 1 / 3 / 2;
    width: 288px;
}

div.sheet-column_b {
    grid-area: 1 / 3 / 3 / 4;
    width: 288px;
}

div.sheet-column_c {
    grid-area: 2 / 5 / 3 / 6;
    width: 288px;
}

div.sheet-play,
div.sheet-edit {
  display: block;
}

input.sheet-edit_mode[value="1"] ~ .sheet-edit,
input.sheet-edit_mode[value="0"] ~ .sheet-play {
    display: none;
}

span.sheet-character_name {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #555555;
    margin-top: -20px;
    pointer-events: none;
    z-index: -1;
}

div.sheet-features {
    padding: 5px;
    background-color: #d8e9d2;
}

div.sheet-standard {
    padding: 5px;
}

span.sheet-class_label,
span.sheet-common_label,
span.sheet-common_value {
    color: #555555;
}

span.sheet-class_label,
span.sheet-common_label {
    font-weight: bold;
}

span.sheet-class_label {
    font-size: 16px;
}

span.sheet-class_label:after {
    content: ": ";
}

span.sheet-section,
span.sheet-section_white {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-left: 3px;
    background-color: #d8e9d2;
    color: #555555;
    margin-top: 5px;
}

span.sheet-section_white {
    background-color: white;
}

span.sheet-score_curr {
    display: block;
    background-color: #d8e9d2;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 5px;
    color: #555555;
}

span.sheet-ability_label {
    display: block;
    height: 60px; 
    line-height: 60px;
    text-align: center;
    margin: 5px;
    color: #555555;
    font-size: 24px;
    font-weight: bold;
}

input.sheet-input,
select.sheet-input {
    width: 100%;
    margin: -2px 0px 10px 0px;
    color: #555555;
}

span.sheet-label {
    font-weight: bold;
    font-size: 12px;
    margin-left: 8px;
    color: #555555;
}

td.sheet-saveheader,
td.sheet-abilityheader {
    text-align: center; 
    vertical-align: bottom;
    font-weight: bold;
    color: #555555;
}

.sheet-saveeven,
.sheet-abilityeven {
    background-color: #d8e9d2;
}

td.sheet-savecell,
td.sheet-abilitycell {
    text-align: center; 
    vertical-align: middle;
    color: #555555;
}

input.sheet-savecell,
input.sheet-abilitycell {
    text-align: center; 
    vertical-align: middle;
    width: 70px;
    color: #555555;
}

div.sheet-save_d,
div.sheet-save_w,
div.sheet-save_p,
div.sheet-save_b,
div.sheet-save_s {
    height: 60px;
    width: 60px;
    margin: 5px; 
}

div.sheet-save_d {
    background: url("https://raw.githubusercontent.com/BaldarSilveraxe/-Old-School-Essentials/master/svg/save_death.svg");
    background-position: center center;
    background-size: contain;
}

div.sheet-save_w {
    background: url("https://raw.githubusercontent.com/BaldarSilveraxe/-Old-School-Essentials/master/svg/save_wand.svg");
    background-position: center center;
    background-size: contain;
}

div.sheet-save_p {
    background: url("https://raw.githubusercontent.com/BaldarSilveraxe/-Old-School-Essentials/master/svg/save_medusa.svg");
    background-position: center center;
    background-size: contain;
}

div.sheet-save_b {
    background: url("https://raw.githubusercontent.com/BaldarSilveraxe/-Old-School-Essentials/master/svg/save_breath.svg");
    background-position: center center;
    background-size: contain;
}

div.sheet-save_s {
    background: url("https://raw.githubusercontent.com/BaldarSilveraxe/-Old-School-Essentials/master/svg/save_spell.svg");
    background-position: center center;
    background-size: contain;
}

td.sheet-savecell {
    text-align: center; 
    vertical-align: middle;
    width: 40px;
}

td.sheet-savelabel {
    text-align: left; 
    vertical-align: middle;
    width: 170px;
    padding-left: 5px;
}

span.sheet-save {
    line-height: 50px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

span.sheet-savelabel {
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
}

.sheet-big_three {
    display: grid;
    grid-template-columns: 96px 96px 96px;
    grid-template-rows: 96px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 288px;
    margin-left: 1px;
}

.sheet-ac {
    grid-area: 1 / 1 / 2 / 2;
     background: url("https://raw.githubusercontent.com/BaldarSilveraxe/-Old-School-Essentials/master/svg/armorclass.svg");
  background-position: center center;
  background-size: contain;
}
.sheet-hp {
    grid-area: 1 / 2 / 2 / 3;
    background: url("https://raw.githubusercontent.com/BaldarSilveraxe/-Old-School-Essentials/master/svg/hitpoints.svg");
  background-position: center center;
  background-size: contain;
}
.sheet-in {
    grid-area: 1 / 3 / 2 / 4;
    background: url("https://raw.githubusercontent.com/BaldarSilveraxe/-Old-School-Essentials/master/svg/initiative.svg");
  background-position: center center;
  background-size: contain;
}

span.sheet-big_three {
    display: block;
    width: 96px;
    text-align: center;
    font-size: small;
    margin-top: -3px;
}

input.sheet-big_three {
    width: 96px;
    height: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    background: transparent;
    border: 0;
    margin-top: 17px;
    padding: 0;
    outline: 0;
}

input.sheet-big_three:hover {
    color: red
}

div.sheet-twenty,
div.sheet-attdam,
div.sheet-missle,
div.sheet-dex_ac {
    display: block;
    height: 60px;
    width: 60px;
    margin: 6px; 
}

div.sheet-twenty {
    background: url("https://raw.githubusercontent.com/BaldarSilveraxe/-Old-School-Essentials/master/svg/twenty.svg");
    background-position: center center;
    background-size: contain;
}

div.sheet-attdam {
    background: url("https://raw.githubusercontent.com/BaldarSilveraxe/-Old-School-Essentials/master/svg/attdam.svg");
    background-position: center center;
    background-size: contain;
}

div.sheet-missle {
    background: url("https://raw.githubusercontent.com/BaldarSilveraxe/-Old-School-Essentials/master/svg/dex_adj.svg");
    background-position: center center;
    background-size: contain;
}

div.sheet-dex_ac {
    background: url("https://raw.githubusercontent.com/BaldarSilveraxe/-Old-School-Essentials/master/svg/dodging.svg");
    background-position: center center;
    background-size: contain;
}

div.sheet-thaco,
div.sheet-attbo {
  display: block;
}

input.sheet-thaco_on[value="1"] ~ .sheet-attbo,
input.sheet-thaco_on[value="0"] ~ .sheet-thaco {
    display: none;
}

td.sheet-combatcell {
    text-align: center; 
    vertical-align: middle;
}

span.sheet-common_value {
    font-size: 14px;
    font-weight: bold;
}

span.sheet-combat_label {
    font-size: 14px;
    font-weight: bold;
}


